.customCascader {
  padding: 12px 8px !important;


 :global {

    .ant-cascader-menu-item {
      padding: 8px 16px;

    }
    .ant-cascader-menu {
      margin-right: 8px;
      height: 260px;
      &::-webkit-scrollbar-thumb {
        background-color: rgb(229 231 235);
        border-radius: 20px;
      }
      &::-webkit-scrollbar {
        width: 6px;
        border-radius: 3px;
      }
    }

    .ant-cascader-menu-item-active {
      color: #2951F2;
      border-radius: 8px;
      background: rgba(41, 81, 242, 0.05);
      background-color: red;
      .ant-cascader-menu-item-content > span {
        font-weight: 600 !important;
      }
      &:hover {
        color: #2951F2;
      }
    }
 }
}
