.customSummaryTab {
  margin-left: 24px;
  :global {
    .ant-tabs-nav {
      margin-bottom: 0px !important;
    }
    .ant-tabs-tab-btn {

      font-size: 1rem;
    }
    .ant-tabs-ink-bar-animated {
      font-weight: 600;
    }
  }
}

.customFileStructureTable {
  :global {
    .ant-table-cell {
      white-space: nowrap;
    }
  }
}


.customConfigPopover {
  :global {
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner-content {

    }
  }
}

.customConfigCopyPopover {
  :global {
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner-content {

    }
  }
}
